<%- model_class = SubTask -%>
<%= render :partial => 'form', locals: { sub_task: @sub_task} %>

<table class="table table-striped js_tasks" id="subtasks">
  <tbody>
    <% @sub_tasks.each do |sub_task| %>
      <%= render partial: 'sub_task', locals: {sub_task: sub_task} %>
    <% end %>
  </tbody>
</table>
